body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #3a241d;
    text-align: center;
}

#left-container {
    left: 0px;
}

#right-container {
    right: 0px;
}

.container {
    background-color: #eee;
    width: 15%;
    top: 0px;
    position: absolute;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.plant-holder {
    position: relative;
    height: 13%;
    left: -10px;
}

.plant {
    position: absolute;
    max-width: 150%;
    max-height: 150%;
    z-index: 2;
}

.jar-walls {
    height: 80%;
    width: 60%;
    background: #a1e0da;
    border-radius: 2rem;
	position: absolute;
	bottom: 0.5%;
	left: 20%;
	opacity: 0.5;
	z-index: 1;
}

.jar-top {
    height: 5%;
    width: 50%;
    background: #a1e0da;
	position: absolute;
	bottom: 80.5%;
	left: 25%;
	opacity: 0.7;
	z-index: 1;
}

.jar-bottom {
    height: 1%;
    width: 50%;
    background: #a1e0da;
	position: absolute;
	bottom: 0%;
	left: 25%;
	opacity: 0.7;
}

.jar-glossy-long {
    width: 2%;
    height: 30%;
    border-radius: 2rem;
    background: #ddfbff;
    position: absolute;
    bottom: 20%;
    left: 5%;
}

.jar-glossy-short {
    width: 2%;
    height: 5%;
    border-radius: 2rem;
    background: #ddfbff;
    position: absolute;
    bottom: 55%;
    left: 5%;
}
.dirt {
    width: 58%;
    height: 7%;
    background: #3a241d;
    position: absolute;
    border-radius: 0 0 7rem 7rem;
    bottom: 2%;
    left: 21%;
    opacity: 0.7;
    z-index: -1;
}